{{ template "header.html" . }}

    <div class="container">
      <h2 style="margin-bottom: 1em; text-align: center">Contact Us</h2>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <p>For AppsAttic, contact:</p>
          <dl>
            <dt>Email</dt>
            <dd>chilts at appsattic dot com</dd>
            <dt>Twitter</dt>
            <dd><a href="https://twitter.com/AppsAttic" target="_blank">@AppsAttic</a></dd>
            <dt>GitHub</dt>
            <dd><a href="https://github.com/appsattic" target="_blank">github.com/appsattic</a></dd>
          </dl>
        </div>
        <div class="col-md-6 col-sm-6">
          <p>For Andy Chilton, contact:</p>
          <dl>
            <dt>Email</dt>
            <dd>andychilton at gmail dot com</dd>
            <dt>Twitter</dt>
            <dd><a href="https://twitter.com/andychilton" target="_blank">@andychilton</a></dd>
            <dt>GitHub</dt>
            <dd><a href="https://github.com/chilts" target="_blank">github.com/chilts</a></dd>
          </dl>
        </div>
      </div>
    </div>

{{ template "footer.html" . }}
