{{ template "header.html" . }}

    <div class="container">
      <h2 style="margin-bottom: 1em; text-align: center">Open Source Projects</h2>
      <div class="row">
      {{ range $project := .Projects }}
        <div class="col-md-4 col-sm-6">
          <div class="well">
            <a href="/{{ $project.Apex }}/"><img class="img-responsive" src="/s/img/{{ $project.Name }}-320x200.png" alt="{{ $project.Apex }} - {{ $project.Title }}"></a>
            <h3>{{ $project.Apex }}</h3>
            <p>{{ $project.Intro }}</p>
            <div class="c">
              <a class="btn btn-default" target="_blank" href="https://{{ $project.Apex }}/">View Site</a>
              <a class="btn btn-default" target="_blank" href="https://github.com/appsattic/{{ $project.Apex }}">Source Code</a>
            </div>
          </div>
        </div>
      {{ end }}
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2 style="margin-bottom: 1em; text-align: center">Latest Posts</h2>
          <p class="c"><a href="/blog/publish-articles-easily">Publish Articles Easily with publish.li</a><br><a href="/blog/tutorial-passport-auto">Tutorial: Passport Auto</a><br><a href="/blog/firebase-is-not-open-source-so-why-use-it">Firebase is not open source, so why use it?</a><br><a href="/blog/introducing-imagelicious">Introducing Imagelicious on Firebase</a><br>
          </p>
        </div>
        <div class="col-md-6">
          <h2 style="margin-bottom: 1em; text-align: center">Latest Tweets</h2>
        </div>
      </div>
    </div>

{{ template "footer.html" . }}
